html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	--priBg: #FFF;
	--secBg: #272a33;
	--priText: #000;
	--priBtnText: #FFF
	--secText: #6cadff;
	--priBtnBg: #0053c7;
	--priBtnBorder: #0053c7;
	--secBtnBg: #fff;
	--secBtnBorder: #6cadff;
	--err: #fc3d39;
	--success: #00ac1d;
	--titleWeight: 700;
	--titleSize: "24px";
	--subTitSize: "22px";
	--priWeight: 400px;
	--priSize: "20px";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif !important;
  box-sizing: border-box;
}

.cls_BtnWrap {
	text-align: center;
}

.cls_Btn {
	width: auto !important;
	height: 60px !important;
	line-height: 60px !important;
	border-radius: 35px !important;
	text-transform: uppercase !important;
	cursor: pointer;
}

.cls_TitleText {
	text-align: center;
	color: var(--priText);
	padding: 20px 0px;
	font-size: 32px;
	font-weight: var(--titleWeight);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	/* -webkit-box-shadow: none; */
	box-shadow: 0 0 0 100px var(--priBg) inset !important;
	-webkit-box-shadow: 0 0 0 100px var(--priBg) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
	-webkit-text-fill-color: var(--priText) !important;
}

html,
body , #__next{
	height: 100%;
	/* background-color: var(--priBg); */
}