.cls_LoginCont {
	width: 700px;
	margin: 50px auto;
	padding: 60px 150px;
	border-radius: 50px;
	box-sizing: border-box;
	border: solid 3px var(--priText);
}

.cls_LoginWrapper{
	height: 100%;
    width: 100%;
    display: table;
}

.cls_IndustrySelect {
	margin: 20px 0px !important;
	text-align: left;
}

.cls_textfield {
	margin: 20px 0px !important;
}

.cls_IndustrySelect 

.cls_LoginWrapper{
	height: 100%;
    width: 100%;
    display: table;
}

.cls_LoginWrap2 {
	display: table-cell;
    height: 100%;
    vertical-align: middle;
}